<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CyberScan Pro</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="background"></div>

<div class="container">

<div class="logo">
<i class="fas fa-shield-halved"></i>
<h1>CyberScan Pro</h1>
</div>

<p class="subtitle">
Professional Network Security Scanner
</p>

<div class="searchBox">

<input
type="text"
id="target"
placeholder="Enter IP or Domain">

<button onclick="scanPorts()">
<i class="fas fa-radar"></i>
Scan
</button>

</div>

<div class="progressContainer">

<div class="progressBar"
id="progressBar"></div>

</div>

<div id="result"></div>

</div>

<script src="{{ url_for('static',
filename='script.js') }}"></script>

</body>

</html>